@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka:wght@600&family=PT+Sans&family=Sigmar&display=swap');
:root {
    --primary-color : #263D42;
    --secondary-color: #a3f07f;
    --accent1-color:#FF8811;
    --accent2-color:#5EB1BF;

    --heading-font:'Fredoka', sans-serif;
    --paragraph-font:'PT Sans', sans-serif;

    --nav-background-color: #F5F5F5;
    --nav-link-color:#5EB1BF;
    --nav-hover-link-color:#FF8811;
    --nav-hover-background-color:#1c4aab;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
body header img {
    margin: 0 0.25rem 0 1rem;
	width: 200px;
	height: auto;
}


 h1, h2, h3, h4, h5, h6 {
font-family: var(--heading-font);
color : var(--accent1-color);
font-size: 50px;
} 

header {
    padding: 10px;
    background-color: #1d6c7e7a;
    display: grid;
    grid-template-columns: 200px 1fr ;
    align-items: center;
    max-width: 1000px;
    
    
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--nav-link-color);
    text-decoration: none;
    margin: 1px; 
    

}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}


nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}

h2, h3, h4, h5, h6 {
    margin: 10px;
    padding: 10px;
    font-size: 75px;
}
p {
    padding:25px ;
    font-size: 20px;
    text-align:left ;
}
.hero {
    position:relative;
    
}
.hero article img {
    float: right;
    width:35%;
    margin: 30px 15px;
}  
.hero h1  {
    position: absolute;
    top: 20px;
    left: 120px;
    
}
.hero article {
    position:absolute;
    top:120px;
    background-color: #06060687;
    color:#ffffff;
}

.hero img {
    display:block; 
    width: 100%;
} 

/*photo gallery at bottom */
.flexbox-container {
    display:flex;
    align-content:space-around;
    align-items:flex-start;
}

.flexbox-item {
    margin: 10px;
    border: 10px solid #FF8811;
}

.flexbox-item-1, .flexbox-item-2, .flexbox-item-3, .flexbox-item-4, .flexbox-item-5{
width: auto;
height: 280px;
}

/*Footer info*/

.copyright{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    max-width: 1000px;
    
}

footer img{
    width:20%;
}
