@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=PT+Sans&family=Sigmar&display=swap");
:root {
    --primary-color : #263D42;
    --secondary-color: #4D8B31;
    --accent1-color:#FF8811;
    --accent2-color:#5EB1BF;

    --heading-font:'Sigmar', cursive;
    --paragraph-font:'PT Sans', sans-serif;

    --nav-background-color: #F5F5F5;
    --nav-link-color:#5EB1BF;
    --nav-hover-link-color:#FF8811;
    --nav-hover-background-color:#4D8B31;
}

    body {
        font-family: var(--paragraph-font);
        max-width: 960px;
        padding: 20px;
    }

    h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color : var(--primary-color);
}

    header {
        padding: 20px;
        background-color: #4D8B31;
    }

    p {
        padding:25px ;
    }

    nav {
        background-color: var(--nav-background-color);
        font-size: 1.2rem;
        display: flex;
    }

    nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;
    }

    nav a:link, nav a:visited {
        color: var(--nav-link-color);
    }

    nav a:hover {
        color: var(--nav-hover-background-color);
        background-color: var(--nav-hover-background-color);
    }

